@import '../scss/framework';

body {
  background: #2c3e50;
}

form {
  display: inline-block;
}

section {

}
.categorie-image{
  @include grid-col(4,3,2);

  img{
    width: 100%;
  }
}

nav.menu {
  background-color: #fff;
  li {
    transition: background-color 0.5s;
    margin-left: -0.25em;
    a {
      transition: color 0.5s;
      color: $orange;
    }
    &.active {
      background-color: $orange;
      a {
        color: #ffffff;
      }
    }
    &:hover {
      background-color: darken($orange, 8);
      a {
        color: #ffffff;
      }
    }
  }
}

.card {
  color: #000;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  &:hover {
    color: $orange;
  }
  &.detail {
    a {
      color: $blue;
      &:hover {
        color: $lightBlue;
      }
    }
    &:hover {
      color: #000;
    }
  }
  .image {
    background-color: #fff;

  }
  .icons {
    height: 1em;
    padding-left: 1em;
    padding-right: 1em;
    a {
      color: #000;
    }
  }
  .content {
    padding-top: 1em;
    padding-bottom: 0.5em;
    text-align: center;
  }
}

input[type="range"] {
  position: relative;
  margin-left: 1em;

  &:after, &:before {
    position: absolute;
    top: 2.4em;
    color: inherit;
  }

  &:before {
    left: 0;
    content: attr(min)' €';
  }

  &:after {
    right: 0;
    content: attr(max)' €';
  }
}

@media only screen and (max-width: $mediaMedium) {

  table.results {

    tbody {
      tr {
        height: 5em;
        td {

          width: 33%;
        }
        td.image {
          img {
            max-height: 10em;
          }
          overflow: hidden;
        }
      }
    }
  }
}

@media only screen and (min-width: $mediaMedium) {

  table.results {

    tbody {
      tr {
        height: 5em;
        td {

          width: 33%;
        }
        td.image {
          img {
            max-height: 10em;
          }
          overflow: hidden;
        }
      }
    }
  }
}

@media only screen and (max-width: $mediaMedium) {
  .resultats {
    -webkit-columns:1;
    -moz-columns: 1;
    columns: 1;
  }
}

@media only screen and (min-width: $mediaMedium) and (max-width: $mediaLarge) {
  .resultats {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
}

@media only screen and (min-width: $mediaLarge) {
  .resultats {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
  }
}

.card {
  a {

  }
  .left {
    float: left;
    text-align: left;
    .titre {
      font-weight: bold;
    }
  }
  .right {
    float: right;
    text-align: right;
    .prix {
      font-style: italic;
    }
  }
}

.resultats {
  a {
    -webkit-column-break-after: always;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }

  .card {
    @include drop-shadow(1);
    -webkit-column-break-after: always;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    background-color: #ffffff;
    &:hover {
      @include drop-shadow(1);
    }
  }
}